@import "../../styles/variables";

.profile_settings__container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile_settings__title {
  line-height: 24px;
  font-size: 22px;
  width: 100%;
  text-align: start;
  font-weight: normal;
}

.profile_settings__tab {
  font-size: 18px;
  color: $mainPink;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 65px;
    background-color: $mainPink;
  }
}

.profile_settings__subtitle {
  font-size: 18px;
  line-height: 24px;
}

.profile_settings__underline {
    margin-top: 3px;
    background-color: #DEDBDC;
    width: 100%;
    height: 2px;
}

.profile_settings__btn {
  position: relative;
  padding: 8px 36px;
  color: $mainPink;
  border: $mainPink 1px solid;
  border-radius: 2px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    top: 1px;
    color: #ff0046;
  }
}
